{{!Begin Menu Item}}
<li class="active">
    <a href="{{@blog.url}}"> <!--Keep href="{{@blog.url}}" for home page-->
        Home <!--Change text of menu here-->
    </a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
    <a href="{{@blog.url}}/about/"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/about/-->
        About <!--Change text of menu here-->
    </a>
</li>
{{!End Menu Item}}
{{!Create your next Menu Item}}