<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link href="{{asset "img/favicon.ico"}}" rel="shortcut icon" type="image/x-icon">
    <link href="{{asset "img/apple-touch-icon-precomposed.png"}}" rel="apple-touch-icon">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if post}}
        {{#post}}
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="">
            <meta name="twitter:title" content="{{title}}">
            <meta name="twitter:description" content="{{excerpt}}">
            <meta name="twitter:creator" content="{{author.name}}">

            <meta property="og:type" content="article">
            <meta property="og:title" content="{{title}}">
            <meta property="og:description" content="{{excerpt}}">
            <meta property="og:site_name" content="{{@blog.title}}">
        {{/post}}
    {{else}}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="{{@blog.title}}">
        <meta name="twitter:description" content="{{@blog.description}}">
        <meta name="twitter:creator" content="{{@blog.title}}">

        <meta property="og:type" content="article">
        <meta property="og:title" content="{{@blog.title}}">
        <meta property="og:description" content="{{@blog.description}}">
        <meta property="og:site_name" content="{{@blog.title}}">
        <meta property="fb:admins" content="">
    {{/if}}
    <meta name="google-site-verification" content=""> {{! Change for Google Webmaster verification }}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'> {{! Change google font here }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/magnific-popup.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/YTPlayer.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/colors/orange.css"}}" /> {{! Change color scheme here }}
    {{ghost_head}}
    <script type="text/javascript"> var sfThemeOptions = { global : {   rootUrl : '{{@blog.url}}' } }</script>
    {{! Place your Google Analytic here }}
</head>
<body class="{{body_class}} {{block "customBodyClass"}}"
      data-site-layout="wide" {{!Site Layout Options: change it to 'boxed' or 'wide'  }}
      data-post-mode="multimedia" {{!Post Mode Options: change it to 'multimedia' or 'plain'  }}
      data-post-align="left" {{!Post Align Options: change it to 'left' or 'center'  }}
      data-uppercase="true" {{!Uppercase style: change it to 'true' or 'false'  }}
        >
<div id="fb-root"></div>
<!--[if lt IE 9]>
<div class="outdated-frame">
    You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
</div>
<![endif]-->
<div class="body-wrap">
    {{>header/standard}}
    <div class="main-wrap">
        {{{body}}}
    </div>
     {{>footer/three-columns}}
</div>
{{ghost_foot}}
{{! The main JavaScript file for Globin }}
<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.mb.YTPlayer.js"}}"></script>
<script type="text/javascript" src="{{asset "js/sdk.js"}}"></script>
<script type="text/javascript" src="{{asset "js/waveform.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.magnific-popup.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jqBootstrapValidation.js"}}"></script>
<script type="text/javascript" src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/prism.js"}}" data-default-language="markup"></script>
<script type="text/javascript" src="{{asset "js/moment.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/pace.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery.placeholder.js"}}"></script>
<script type="text/javascript" src="{{asset "js/sscr.js"}}"></script>
<script type="text/javascript" src="{{asset "js/main.js"}}"></script>
{{{block "customScript"}}}
</body>
</html>