{{!< default}}
{{#post}}
    <main class="body-content" role="main">
        <section itemscope itemtype="http://schema.org/BlogPosting" role="article" class="{{post_class}} {{#if tags}}has-sub-meta{{else}}{{#if featured}}has-sub-meta{{/if}}{{/if}}">
            <div class="post-header {{#if image}}has-background{{/if}}" {{#if image}}style="background-image: url({{image}})"{{/if}}>
                <div class="header-wrap">
                    <h1 itemprop="name headline" class="post-title">{{{title}}}</h1>
                    <div class="post-meta">By {{author}} /
                        <time datetime="{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished">
                            {{date published_at timeago="true"}}
                        </time>
                    </div>
                    <div class="line"></div>
                    {{#if tags}}
                        <div class="post-meta">
                            <i class="fa fa-tags"></i>{{#if featured}} Featured{{/if}} on {{tags separator=", "}}
                        </div>
                    {{else}}
                        {{#if featured}}
                            <div class="post-meta">
                                <i class="fa fa-star"></i> Featured
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div itemprop="articleBody" class="post-content">
                {{content}}
                <div class="share-box">
                    <div class="share-box-wrap">
                        <h3 class="box-title">Thanks for reading!</h3>
                        <span class="box-sub-title">Don't forget to spread the word:</span>
                        <ul class="social">
                            <li class="twitter">
                                <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share this post via Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share this post via Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="google">
                                <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share this post via Google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="linkedin">
                                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{title}}" target="_blank" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" title="Share this post via Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {{#author}}
                    <footer class="post-footer">
                        <div  itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
                            {{#if image}}
                                <div class="avatar">
                                    <img class="img-reponsive" itemprop="image" src="{{image}}" alt="{{name}}" />
                                </div>
                            {{/if}}
                            <div class="post-author-content">
                                <h4 class="author-name">
                                    Written by <a href="{{url}}" itemprop="url" class="post-author-name"><span itemprop="name">{{name}}</span></a>
                                </h4>
                                <div class="author-info">
                                    {{#if location}}<i class="fa fa-home"></i> <span>{{location}}</span>{{/if}}
                                    {{#if website}}<i class="fa fa-globe"></i> <a href="{{website}}">{{website}}</a>{{/if}}
                                </div>
                                <p itemprop="description">
                                    {{#if bio}}
                                        {{bio}}
                                    {{else}}
                                        The author didnt add any Information to his profile yet
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                    </footer>
                {{/author}}
            </div>
            <div itemprop="comment" class="comment-box">
                {{>comment-box}}
            </div>
        </section>
        <section class="next-post" data-current-url="{{url absolute="true"}}">
        </section>
    </main>
{{/post}}